<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User`s list</title>
</head>
<body>
<h1> User`s list</h1>
<table th:border="1">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">firstname</th>
        <th scope="col">lastname</th>
        <th scope="col">Age</th>
        <th scope="col">Edit </th>
        <th scope="col">Delete</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.getId()}">Id</td>
        <td><a th:href="@{'/' + ${user.getId()}}" th:utext="${user.getFirstname()}">FirstName</a></td>
        <td th:utext="${user.getLastname()}">Lastname</td>
        <td th:utext="${user.getAge()}">Age</td>
        <td>
            <form th:action="@{'edit/' + ${user.getId()}}">
                <input type="submit" class="buttonEdit" value="Edit"/>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
                <input type="submit" class="buttonDelete" value="Delete"/>
            </form>
        </td>
    </tr>
</table>
<br/>
<button onclick="window.location.href = '/new';">Add new user</button>
</body>
</html>